 /*
  * ──────────────────────────────────────────────────── I ──────────
  *   :::::: G L O B A L : :  :   :    :     :        :          :
  * ──────────────────────────────────────────────────────────────
*/


html, body {
    font-family: "Anika", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.section {
    margin: 0;
    padding: 0;
}

#gameWrapper {
    display: flex;
    flex-direction: row;
}

/*
 * ────────────────────────────────────────────────────────── II ──────────
 *   :::::: M A I N   V I E W : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────
*/

.view {
    display: flex;
}

#mainView {
    background: #474A51;
    height: 100vh;
    width: 80vw;
}


/*
 * ─── HUD ────────────────────────────────────────────────────────────────────────
*/

#absoluteHud #currencyDisplay {
    position: absolute;
    color: #D8DBE2;
    font-size: 24px;
    margin: 0;
    padding: 8px;
}

#absoluteHud #navButtons {
    position: absolute;
    margin: 0;
    padding: 8px;
    bottom: 0;
}

/* TEMPORARY BUTTON DESIGN. */

#absoluteHud #navButtons button {
    color: #D8DBE2;
    background: #474A51;
    padding: 12px 8px 12px 8px;
    border: 2px solid #D8DBE2;
    display: inline-block;
    transition: all 0.2s ease 0s;
}

#absoluteHud #navButtons button:hover {
    color: black;
    background: #58A4B0;
    border-color: #58A4B0;
    transition: all 0.2s ease 0s;
}

#absoluteHud #navButtons button:focus {
    outline: 0;
}

#absoluteHud #navButtons .currentNav {
    background: #A9BCD0;
    border-color: #A9BCD0;
    color: black;
}

/*
 * ─── MAP VIEW ───────────────────────────────────────────────────────────────────
*/

#mapView {
    height: 100%;
    width: 100%;
    justify-content: center;
}
    
#mapView #gameMap {
    width: 480px;
    height: 480px;
    /* Temp sizing */
    margin: 0;
    padding: 0;
}

/*
 * ────────────────────────────────────────────────────────────── III ──────────
 *   :::::: L O G   S E C T I O N : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────
*/

#logView {
    /* Temp border */
    border-left: 2px solid black;
    background: #474A51;
    height: 100vh;
    width: 20vw;
}