/* 
 * GLOBAL
 */

body {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     overflow: hidden;
     font-family: "Andika", sans-serif;
 }
 
 .section {
     padding: 0;
     margin: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }

/* 
 * MAIN 
 */

#main {
    width: 85vw;
    height: 100vh;
    background: #888;
}

.main-view {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 
 * MAP VIEW
 */

 #map-view {
     display: flex;
     justify-content: center;
 }

#ascii-map {
    width: 40vh;
    height: 40vh;
    background: black;
}

/* 
 * LOG
 */

#log {
    padding: 0;
    width: 15vw;
    height: 100vh;
    background: #43945f;
}

#log-title {
    text-align: center;
    margin: 0;
    padding: 0;
}