 /*
  * ──────────────────────────────────────────────────── I ──────────
  *   :::::: G L O B A L : :  :   :    :     :        :          :
  * ──────────────────────────────────────────────────────────────
*/


html, body {
    border: none;
    overflow: hidden;
}

.section {
    margin: 0;
    padding: 0;
}

#gameWrapper {
    display: flex;
    flex-direction: row;
}

/*
 * ────────────────────────────────────────────────────────── II ──────────
 *   :::::: M A I N   V I E W : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────
*/

#mainView {
    background: #888;
    height: 100vh;
    width: 80vw;
}

/*
 * ─── HUD ────────────────────────────────────────────────────────────────────────
*/

/*
 * ─── MAP VIEW ───────────────────────────────────────────────────────────────────
*/
    
#mapView #gameMap {
    background: black;
}

/*
 * ────────────────────────────────────────────────────────────── III ──────────
 *   :::::: L O G   S E C T I O N : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────
*/

#logView {
    background: #999;
    height: 100vh;
    width: 20vw;
}